button{
    background-color: rgb(30, 31, 28);
    color: aliceblue;
}
body{
    background-color: rgb(228, 230, 235);
}
input{
    font-size: 40px;
    border-radius: 10px;
}
h1{
    color: brown;
}
table{background-color: rgb(230, 230, 79);
    box-shadow: 0 50px 200px rgb(12, 11, 11);
    border-radius: 20px;
    border-color: aliceblue;
    
}
button{
    font-size: 40px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgb(216, 39, 39);
}div{
    background-color: rgb(241, 163, 163);
    color: rgb(65, 122, 8);
}   
p{
   font-size: 40px;
}
body{
    text-align: center;
}
input{
    color: rgb(37, 34, 34);
    background-color: rgb(160, 160, 196);
}